.card {
  background: var(--color-white);
  border: 1px solid var(--default-stroke);
  border-radius: 7px;
}

.padding-sm {
  padding: 12px;
}

.padding-md {
  padding: 20px;
}

.padding-lg {
  padding: 32px;
}
